.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.App-header{
    background-color: #ffffff;
    height: 50px;
    border-bottom: 1px solid rgb(227, 226, 226);
}

main{
    flex-grow: 1; /* Main content fill space */
    background-color: #ffffff;
    padding-top: 50px;
}

.header-logo{
    float: left;
    color: rgb(34, 33, 33);
    margin: 0;
    padding: 10px;
}

.main-navigation{
    padding-top:5px;
}

.main-navigation-list{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

.main-navigation-list li{
    display: inline;
    float: left;
}

.main-navigation-list li:hover{
    text-decoration: underline;
}

.main-navigation-list a{
    display: block;
    padding: 10px;
    font-size: 15px;
}

.App-footer{
    background-color: #cfe5fc;
    padding: 1rem;
    text-align: center;
    margin-top: auto; /* Sets footer to the bottom */
    border-top: 1px solid #fde5e5;
    color: #6e8090;
    font-size: 0.9rem;
}